<row>
  <column>
    <wrapper class="breakpointchecker">
      <div class="breakpointchecker__checkerbox">
        <div class="breakpointchecker__left">
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
        </div>
        <div class="breakpointchecker__right">
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
          <div class="breakpointchecker__item"></div>
        </div>
      </div>
      <h4 class="breakpointchecker__h4">breakpointchecker</h4>
    </wrapper>

  </column>
</row>
