<div class="hero-header">
		<div class="hero-header__image" style="background-image: url(assets/images/bg1.jpg);"></div>
    <div class="hero-header__column">
		  <div class="hero-header__title"><h1><%= title %></h1></div>
		  <div class="hero-header__subtitle"><h3><%= subtitle %></h3></div>
		  <div class="hero-header__btn"><a href="#" class="btn btn--dark">GO TO</a></div>
    </div>
	</div>
