<section class="photosquare">
  <div class="boxed boxed--form01">
    <div class="item item--image01">love</div>
    <div class="item item--image01 item--r">love</div>
    <div class="item item--image01 item--g">love</div>
    <div class="item item--image01 item--b">love</div>
  </div>

  <div class="boxed boxed--form02">
    <div class="item item--image02">FIRE</div>
    <div class="item item--image02 item--r">FIRE</div>
    <div class="item item--image02 item--g">FIRE</div>
    <div class="item item--image02 item--b">FIRE</div>
  </div>

  <div class="boxed boxed--form03">
    <div class="item item--image03"></div>
    <div class="item item--image03 item--r"></div>
    <div class="item item--image03 item--g"></div>
    <div class="item item--image03 item--b"></div>
  </div>

  <div class="boxed boxed--form04">
    <div class="item item--image04"></div>
    <div class="item item--image04 item--r"></div>
    <div class="item item--image04 item--g"></div>
    <div class="item item--image04 item--b"></div>
  </div>

  <div class="boxed boxed--form05">
    <div class="item item--image05"></div>
    <div class="item item--image05 item--r"></div>
    <div class="item item--image05 item--g"></div>
    <div class="item item--image05 item--b"></div>
  </div>

  <div class="boxed boxed--form06">
    <div class="item item--image06"></div>
    <div class="item item--image06 item--r"></div>
    <div class="item item--image06 item--g"></div>
    <div class="item item--image06 item--b"></div>
  </div>

  <div class="boxed boxed--form07">
    <div class="item item--image07"></div>
    <div class="item item--image07 item--r"></div>
    <div class="item item--image07 item--g"></div>
    <div class="item item--image07 item--b"></div>
  </div>

  <div class="boxed boxed--form08">
    <div class="item item--image08"></div>
    <div class="item item--image08 item--r"></div>
    <div class="item item--image08 item--g"></div>
    <div class="item item--image08 item--b"></div>
  </div>

  <div class="boxed boxed--form09">
    <div class="item item--image09"></div>
    <div class="item item--image09 item--r"></div>
    <div class="item item--image09 item--g"></div>
    <div class="item item--image09 item--b"></div>
  </div>

  <div class="boxed boxed--form10">
    <div class="item item--image10"></div>
    <div class="item item--image10 item--r"></div>
    <div class="item item--image10 item--g"></div>
    <div class="item item--image10 item--b"></div>
  </div>

  <div class="boxed boxed--form11">
    <div class="item item--image11"></div>
    <div class="item item--image11 item--r"></div>
    <div class="item item--image11 item--g"></div>
    <div class="item item--image11 item--b"></div>
  </div>

  <div class="boxed boxed--form12">
    <div class="item item--image12"></div>
    <div class="item item--image12 item--r"></div>
    <div class="item item--image12 item--g"></div>
    <div class="item item--image12 item--b"></div>
  </div>
</section>
