<section id="wyre">
  <div class="row">
  	<div class="column">
      <div class="wyre__cards">
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
        <div class="wyre__card">bonus</br><span class="wyre__pass">pass</span></div>
      </div>
    </div>
  </div>
</section>
