<%- include('assets/includes/layout/_start') %>
<%- include('assets/includes/_header') %>
<div class="row">

<%- include('assets/includes/_photosquare') %>
</div>

<div class="row">
	<div class="column">
    <div class="container01">
      <div class="container01__item">1</div>
      <div class="container01__item">2</div>
      <div class="container01__item">3</div>
      <div class="container01__item">4</div>
      <div class="container01__item">5</div>
      <div class="container01__item">6</div>
      <div class="container01__item">7</div>
    </div>
  </div>
</div>
    <div class="photo_container01">
      <div class="photo_container01__item"><img src="assets/images/photosquare/Stills_001.jpg" alt=""></img></div>
      <div class="photo_container01__item"><img src="assets/images/photosquare/Stills_002.jpg" alt=""></img></div>
      <div class="photo_container01__item"><img src="assets/images/photosquare/Stills_003.jpg" alt=""></img></div>
      <div class="photo_container01__item"><img src="assets/images/photosquare/Stills_006.jpg" alt=""></img></div>
    </div>


    <div class="photo_container01">
      <div class="photo_container01__item1"><img src="assets/images/photosquare/Stills_001.jpg" alt=""></img></div>
      <div class="photo_container01__item2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignis</div>
    </div>



    <div class="photo_container01">
      <div class="photo_container01__item"><img src="assets/images/photosquare/Stills_001.jpg" alt=""></img></div>
    </div>



<%- include('assets/includes/layout/_end') %>
