.flexboxcontent {
  display: flex;
  flex-flow: wrap;
  &__wrapper {
    margin-top: 1em;
    //background-color: red;
    //margin-top: -25px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    background-color: grey;
    box-shadow: 10px 10px 25px 10px #ccc;

  }
  .h1 {
    font-size: 1em;
    background-color: grey;
    align-self: center;
    margin: 0;
    padding: $gutter/6;
    margin-bottom: -1.3em;
  }
  &__content {
    height: 100%;
    align-self: center;
    padding: $gutter/2;
  }
  &__cta {
    align-self: center;
  }
}


.flexboxcontent1 {
  padding-top: $gutter*2;
  display: flex;
  flex-flow: wrap;
   width: 100%;

  &__item {
    min-width: 80px;
min-height: 80px;
border: 1px solid black;
}
    &__item:nth-child(1){
    flex: 4;
    background-color: red;

    }
    &__item:nth-child(2){
    flex: 4;
    }
    &__item:nth-child(3){
    flex: 4;
    }
  .h1 {
    }
  &__content {
  }
  &__cta {
  }
}
