.flexboxcontent {
  display: flex;
  flex-flow: wrap;
  &__wrapper {
    //margin-top: 1em;
    //background-color: red;
    //margin-top: -25px;
    //margin-bottom: 12em;
  }
  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    background-color: grey;
    box-shadow: 10px 10px 25px 10px #ccc;

  }
  .img {
    //align-self: center;
  }
  .h1 {
    font-size: 2.3em;
    background-color: grey;
    align-self: center;
    margin-top: .5em;
    &.h1:hover {
      color: #bbb;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: -.5em;
    text-align: justify;
    font-size: 1.1em;
    font-kerning: auto;
    line-height: 140%;
    height: 100%;
    align-self: center;
    padding: $gutter/2;
  }
  &__centerimg {
    align-self: center;

  }
  &__thin {
    padding-top: $gutter/2;
    display: flex;
    //background-color: red;
    justify-content: space-around;

  }
  &__thin1 {
    display: flex;
    //background-color: red;
    justify-content: flex-end;
  }
  &__cta {
    align-self: center;
  }
  .column {
    padding: .3rem;
}
}
